# Name: Astronomy
# Author: F. Hessman
# Version: 1.7
# Date: 2010/02/21
# Requires: ImageJ >= 1.37
# Generated the jar file using: "jar cvfM Astronomy_.jar plugins.config *"

Plugins>Astronomy, "Astronomy Listener",Astronomy_Listener("")
Plugins>Astronomy, "Astronomy Tool", Astronomy_Tool("")
Plugins>Astronomy, "Align Image", Align_Image("")
Plugins>Astronomy, "Aperture ", Aperture_("")
Plugins>Astronomy, "Astrometry ", Astrometry_("")
Plugins>Astronomy, "Clear Overlay", Clear_Overlay("")
Plugins>Astronomy, "Coordinate Converter", Coordinate_Converter("")
Plugins>Astronomy, "Create Mean PSF", Create_Mean_PSF("")
Plugins>Astronomy, "Data Processor", Data_Processor("")
Plugins>Astronomy, "Find Telescope Focus", Focus_Telescope("")
Plugins>Astronomy, "FITS Header Editor", FITS_Header_Editor("")
Plugins>Astronomy, "MultiAperture ", MultiAperture_("")
Plugins>Astronomy, "MultiPlot ", MultiPlot_("")
Plugins>Astronomy, "Seeing Profile", Seeing_Profile("")
Plugins>Astronomy, "Copy FITS Header", Copy_FITS_Header("")
Plugins>Astronomy, "Read FITS Header", Read_FITS_Header("")
Plugins>Astronomy, "Edit FITS Header", FITS_Header_Editor("")
Plugins>Astronomy, "Write FITS Header", Write_FITS_Header("")
Plugins>Astronomy, "Set Aperture", Set_Aperture("")
Plugins>Astronomy, "RGB Composer", RGB_Composer("")
Plugins>Astronomy, "Image Calculator Plus", Image_Calculator_Plus("")
Plugins>Astronomy, "Shift Image", Image_Shifter("")
Plugins>Astronomy, "Uncalibrate Image", Uncalibrate_Image("")
Plugins>Astronomy, "Align Stack", Stack_Aligner("")
Plugins>Astronomy, "Normalize Stack", Normalize_Stack("")
Plugins>Astronomy, "Read MeasurementTable", Read_MeasurementTable("")
Plugins>Astronomy, "USNO Stars", USNO_Stars("")
Plugins>Astronomy, "SIMBAD Query", Simbad_Query("")
Plugins>Astronomy, "Align Coordinates", Align_Coordinates("")
Plugins>Astronomy, "Get WCS Position", Astrometry_("")
Plugins>Astronomy, "Roi Astrometry", Roi_Astrometry("")
Plugins>Astronomy, "Shift Roi Overlay", Overlay_Shifter("")
Plugins>Astronomy, "Get USNO Stars", USNO_Stars("")
